<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/logout">Log Out!</a>
    <h1>WOW! {{logged_in_user.fname}} logged in!! And/or registered!</h1>
    <h2>Profile:</h2>
    <h3>Name: {{logged_in_user.fname}} {{logged_in_user.lname}} </h3>
    <h3>Email: {{logged_in_user.email}}</h3>
    <h3>Password: {{logged_in_user.password}}</h3>

    <a href="/wall">Go to the wall</a>
    
</body>
</html>