<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/books">Add Book and Review</a>
        <a href="/logout">Log Out</a>
        <h2>Add a New Book Title and a Review:</h2>
        <form action="" method ="POST">
            <input type ="text" name="title" placeholder = "Title"><br>
            <input type ="text" name="newauthor" placeholder = "Add a new author"><br>
            <textarea name="review" placeholder = "Add a review here!" cols="30" rows="10"></textarea><br>
            <input type ="number" name ="rating" min="1" max= "5"><br>
            <input type="submit" value  "Add Book and Review">



        </form>

    </div>
    
    
</body>
</html>