<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{myuser.fname}}! Read more about this trip!</h1>
    <a href="/main/books">Dashboard</a>
    <a href="/logout">Logout</a>

    <h3>{{trips2.destination}}</h3>
    <p>Start Date: {{trips2.start_date}}</p>
    <p>End_Date: {{trips2.end_date}}</p>
    <p>Created On: {{trips2.created_at}}</p>
    <p>Last Updated: {{trips2.updated_at}}</p>
    <p>Plan: {{trips2.content}}</p>
    <p>Created By: Nick</p>


    
</body>
</html>
