<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}">
</head>
<body>
    <div class= "info-box">
        <h3>Submitted Info</h3>

        <ul>
            <li>Name:</li>
            <li>Dojo Location:</li>
            <li>Favorite Language:</li>
            <li>Comment:</li>
        </ul>

        <ul>
            <li>{{name}}</li>
            <li>{{location}}</li>
            <li>{{languages}}</li>
            <li>{{text}}</li>
        </ul>
        <form action="/goback" method="get">
        <button type ="submit">GO BACK BRUH.</button>
        </form>
    </div>

    
</body>
</html>